.myGallery {
  width: 300px;
  height: 200px;
  float: left;
  overflow: hidden;
}

.pictures li {
  list-style: none;
}

.pictures img {
  position: relative;
  /* scale image proportionally */
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 200px;
  /* horisontal align */
  display: block;
  margin: 0 auto;
}
